HashKnownHosts no

Host github.com
  User git

{{ if (and (.personal) (not .ephemeral)) }}
{{/* TODO hostnames */}}
{{- end }}

{{ if (and (.akasha) (not .ephemeral)) }}
Host argo-not
  HostName 34.105.19.85
  IdentityFile ~/.ssh/google_compute_engine
  UserKnownHostsFile=~/.ssh/google_compute_known_hosts
  HostKeyAlias=argo-not.alias
{{- end }}

Host *
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}
